# .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build & Executables
*.exe
*.dll
*.pdb

# Security Data & Temporary Files
# Do NOT push test contents or encrypted artifacts
*.enc
*.tmp
*.log
top_secret.txt
automation_temp/
attack_demo/
attack_demo*

# Office temporary files
~$*

# OS specific
Thumbs.db
Desktop.ini
.DS_Store
